/* start global */
* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #eee;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
}

:root {
	--container: 95%;
	--item: 95%;
	--btnItem: 75%;
}

.form,
#tasks,
.form .btn,
#tasks > div,
#DeletedDiv > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
input,
div {
	padding: 12px;
	border: none;
	border: 2px solid transparent;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

input {
	opacity: 0.4;
	transition: 0.3s;
	cursor: pointer;
}

/* end global */
.page {
	min-width: 250px;
	max-width: 1400px;
	width: var(--container);
	margin: 0px auto;
	padding: 0;
	text-align: center;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.container {
	width: var(--container);
	margin: 0px auto;
	padding: 0;
	text-align: center;
}

.form {
	flex-direction: row;
	justify-content: center;
}
.form .btn {
	width: 75%;
	flex-direction: row;
	justify-content: space-between;
}

input#input {
	width: 45%;
	text-align: center;
	font-size: 28px;
	text-transform: capitalize;
}

.form .btn input {
	background-color: aliceblue;
	width: calc((100% - 30px) / 3);
	padding: 20px;
}

input#Undo {
	cursor: no-drop;
}
/*  tasks div style */
.form,
#tasks,
#DeletedDiv {
	width: var(--item);
	margin: 0px auto;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #efc6c6;
}
#tasks,
#DeletedDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#tasks div,
#DeletedDiv div {
	width: calc((90% - 20px) / 2);
	background-color: white;
	margin-bottom: 10px;
	align-items: center;
	font-size: 28px;
	padding: 12px;
}

#tasks > div,
#DeletedDiv > div {
	width: 274px;
}
#tasks > div > p,
#DeletedDiv > div > p {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}
#tasks > div:not(.Done) input#done {
	border: 2px solid rgb(0 0 0 / 50%);
	border-right-color: transparent;
}

input#delete {
	background-color: red;
}

#add:hover,
#delete:hover,
#done:hover {
	opacity: 1;
}

div#btnDiv input {
	width: 50%;
}

div#btnDiv {
	width: var(--btnItem);
	padding: 8px;
	margin-top: 18px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#tasks div div#div-data,
#DeletedDiv div div#div-data {
	width: 75%;
	display: flex;
	font-size: 15px;
	justify-content: space-evenly;
}
#tasks div div p#p-data,
#DeletedDiv div div p#p-data {
	width: 100%;
	display: flex;
	font-size: 15px;
	justify-content: space-between;
	flex-wrap: wrap;
}
#tasks div div p#p-data span,
#DeletedDiv div div p#p-data span {
	margin-bottom: 8px;
}
/* end of tasks div style */
